.spotifyButton {
  background-color: #1db954;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 35px 0;
  padding: 10px 34px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  box-shadow: #1db95461 1px 1px 16px;
}

.spotifyButton:hover {
  background-color: #1ed760;
}